#background {
  background-color: #12002b;
  flex: 1;

  section {
    margin-bottom: 32px;

    h1 {
      color: #fff;
      font-size: 32px;
    }
  }

  button {
    border: solid #00bc77;
    background-color: #00bc77;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }
}

#changed {
  display: none;

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
  }

  input {
    margin-top: 10px;
  }

  .button_submit {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    .cancel {
      background-color: #ff0000;
      border-color: #ff0000;
    }
  }
}